.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height for vertical centering */
}

/* Center content inside header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%; /* Ensure full width to center within viewport */
  padding: 20px; /* Add padding if needed */
  box-sizing: border-box; /* Ensure padding doesn’t affect width */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Reduced motion preference */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* Logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
